
	<div class='container' id='homeContainer'>
		<ng-include src="'partials/header.html'"></ng-include>
		<div class='row'>
			<div class='col-md-4'></div>
			<div class='col-md-4' id='inlog'>
				<div class='row'>

					<div>
						<label>Namn</label>
						<input type="text" id="userName" ng-model="userName"><br />

						<label>Lösen</label>
						<input type="text" id="userPass" ng-model="userPass">

					</div>
					<div>
						<a href="#/nav/project">
							<button class="btn btn-default" ng-click="saveUser(); setView(':project')" type="button">
								Login
							</button>
					</a>
					</div>


				</div>

			</div>
		</div>
	</div>