<div class='container'>
	<ng-include src="'partials/header.html'"></ng-include>
	<div class='row'>


		<!--If we are in projectview-->
		<div ng-if="getView()=='project'">
			<div class='col-md-3' id='arrowArea'>
				<button ng-click="clickLeftArrow()" type='button' ng-mouseenter='hover("Back to project")' ng-mouseleave='leaveHover()' id='arrowAreaButton' class="btn btn-default btn-lg"> 
					<span class="glyphicon glyphicon-circle-arrow-left"></span>
				</button>
				<div ng-if="utdataHover('Back to project')" class="animate-if" id="hoverBox">
	  				{{hoverText()}}
				</div>
			</div>
			<div class='col-md-6'>
				<div class='row'>
					<div id='buttonArea'>
						<center>
							<a href='#/pattern'>
								<button ng-click="setView('pattern')" type='button' ng-mouseenter='hover("Up to pattern")' ng-mouseleave='leaveHover()' id='button' class="btn btn-default btn-lg"> 
									<span class="glyphicon glyphicon-circle-arrow-up"></span>
								</button>
							</a>
							<div ng-if="utdataHover('Up to pattern')" class="animate-if" id="hoverBox">
	  							{{hoverText()}}
							</div>
							<div ng-if="!utdataHover('Up to pattern')">
								<br>							
							</div>
						</center>
					</div>
				</div>
				<div class='row'>
					<ng-include src="'partials/projectView.html'" ng-controller="projectCtrl"></ng-include> 	
				</div>
				<div class='row'>
					<center>
						<div id='buttonArea'>
							<a href='#/profile'>
								<button ng-click="setView('profile')" href='#/profile' type='button' ng-mouseenter='hover("Down to profile")' ng-mouseleave='leaveHover() 'id='button' class="btn btn-default btn-lg"> 
									<span class="glyphicon glyphicon-circle-arrow-down"></span>
								</button>
							</a>
							<div ng-if="utdataHover('Down to profile')" class="animate-if" id="hoverBox">
	  								{{hoverText()}}
							</div>
						</div>
					</center>
				</div>
			</div>
			<div class='col-md-3' id='arrowArea'>
				<button ng-click="clickRightArrow()" type='button'ng-mouseenter='hover("More projects")' ng-mouseleave='leaveHover()'  id='arrowAreaButton'
				class="btn btn-default btn-lg"> 
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
				</button>
				<div ng-if="utdataHover('More projects')" class="animate-if" id="hoverBox">
	  				{{hoverText()}}
				</div>
			</div>
		</div>


		<!--If we are in patternview-->
		<div ng-show="getView()=='pattern'">
			<div class='col-md-3' id='arrowArea'>
				<button ng-click="clickLeftArrow()" type='button' ng-mouseenter='hover("Back to project")' ng-mouseleave='leaveHover()' id='arrowAreaButton' class="btn btn-default btn-lg"> 
					<span class="glyphicon glyphicon-circle-arrow-left"></span>
				</button>
				<div ng-if="utdataHover('Back to project')" class="animate-if" id="hoverBox">
	  				{{hoverText()}}
				</div>
			</div>
			<div class='col-md-6'>
				<div class='row'>
					<div id='buttonArea'>
						<center>
							<a href='#/pattern'>
								<button ng-click="setView('pattern')" type='button' ng-mouseenter='hover("Up to pattern")' ng-mouseleave='leaveHover()' id='button' class="btn btn-default btn-lg"> 
									<span class="glyphicon glyphicon-circle-arrow-up"></span>
								</button>
							</a>
							<div ng-if="utdataHover('Up to pattern')" class="animate-if" id="hoverBox">
	  							{{hoverText()}}
							</div>
							<div ng-if="!utdataHover('Up to pattern')">
								<br>							
							</div>
						</center>
					</div>
				</div>
				<div class='row'>
					<ng-include src="'partials/patternView.html'" ng-controller="projectCtrl"></ng-include> 	
				</div>
				<div class='row'>
					<center>
						<div id='buttonArea'>
							<a href='#/profile'>
								<button ng-click="setView('profile')" href='#/profile' type='button' ng-mouseenter='hover("Down to profile")' ng-mouseleave='leaveHover() 'id='button' class="btn btn-default btn-lg"> 
									<span class="glyphicon glyphicon-circle-arrow-down"></span>
								</button>
							</a>
							<div ng-if="utdataHover('Down to profile')" class="animate-if" id="hoverBox">
	  								{{hoverText()}}
							</div>
						</div>
					</center>
				</div>
			</div>
			<div class='col-md-3' id='arrowArea'>
				<button ng-click="clickRightArrow()" type='button'ng-mouseenter='hover("More projects")' ng-mouseleave='leaveHover()'  id='arrowAreaButton'
				class="btn btn-default btn-lg"> 
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
				</button>
				<div ng-if="utdataHover('More projects')" class="animate-if" id="hoverBox">
	  				{{hoverText()}}
				</div>
			</div>
		</div>



		<!--If we are in profileview-->
		<div ng-if="getView()=='profile'">
			<div class='col-md-3' id='arrowArea'>
				<button ng-click="clickLeftArrow()" type='button' ng-mouseenter='hover("Back to project")' ng-mouseleave='leaveHover()' id='arrowAreaButton' class="btn btn-default btn-lg"> 
					<span class="glyphicon glyphicon-circle-arrow-left"></span>
				</button>
				<div ng-if="utdataHover('Back to project')" class="animate-if" id="hoverBox">
	  				{{hoverText()}}
				</div>
			</div>
			<div class='col-md-6'>
				<div class='row'>
					<div id='buttonArea'>
						<center>
							<a href='#/pattern'>
								<button ng-click="setView('pattern')" type='button' ng-mouseenter='hover("Up to pattern")' ng-mouseleave='leaveHover()' id='button' class="btn btn-default btn-lg"> 
									<span class="glyphicon glyphicon-circle-arrow-up"></span>
								</button>
							</a>
							<div ng-if="utdataHover('Up to pattern')" class="animate-if" id="hoverBox">
	  							{{hoverText()}}
							</div>
							<div ng-if="!utdataHover('Up to pattern')">
								<br>							
							</div>
						</center>
					</div>
				</div>
				<div class='row'>
					<ng-include src="'partials/profileView.html'" ng-controller="profileCtrl"></ng-include> 	
				</div>
				<div class='row'>
					<center>
						<div id='buttonArea'>
							<a href='#/profile'>
								<button ng-click="setView('profile')" type='button' ng-mouseenter='hover("Down to profile")' ng-mouseleave='leaveHover() 'id='button' class="btn btn-default btn-lg"> 
									<span class="glyphicon glyphicon-circle-arrow-down"></span>
								</button>
							</a>
							<div ng-if="utdataHover('Down to profile')" class="animate-if" id="hoverBox">
	  								{{hoverText()}}
							</div>
						</div>
					</center>
				</div>
			</div>
			<div class='col-md-3' id='arrowArea'>
				<button ng-click="clickRightArrow()" type='button'ng-mouseenter='hover("More projects")' ng-mouseleave='leaveHover()'  id='arrowAreaButton'
				class="btn btn-default btn-lg"> 
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
				</button>
				<div ng-if="utdataHover('More projects')" class="animate-if" id="hoverBox">
	  				{{hoverText()}}
				</div>
			</div>
		</div>




	</div>
</div>