<!-- view of a project -->

<div id='boxArea'>
	<center>
		<div class='projectname'>
			<div class='row'>
				<div class='col-md-2'>
					<button ng-model="bob" class="btn btn-default btn-lg" id='miniPic' 
					ng-mouseenter='heartHover()' ng-mouseleave='leaveHeartHover()'>
						<div class="glyphicon glyphicon-heart-empty" ng-click="saveChoice()"></div>
					</button>
					<div ng-if="utdataHeartHover()" class="animate-if" id="hoverBox">
	  					{{heartHoverText}}
					</div>
					<div ng-if="!utdataHeartHover">
						<br>							
					</div>


				</div>
				<div class='col-md-8'>
					<h2>{{projname}}</h2><p> by {{userName}} </p>
				</div>
				<div class='col-md-2'>
					<p id='miniPic'> 
						<img src='{{userPic}}' class="img-thumbnail" alt="{{userName}}" width="50" height="50"></img> 
					</p>
				</div>
			</div>
		</div>
		<img src="{{photos[0].medium_url}}" alt='{{projname}}' width='300' height='300'> </img>
	</center>
</div>
