.container{
	width:100%;
	min-height:100vh;
}

#homeContainer{
	background-image: url('background.jpg');
	background-size:cover;
}

#header{
	height:100px;
	background-color: #FFB6C1;
	border-style:solid;
	margin-bottom: 50px;
	width: 100%;
}



#inlog{
	height:250px;
	background-color: #CA278C;
	border-style:solid;
	padding-left: 10%;
	padding-top: 10px;
}