.container{
	width:100vw;
	min-height:100vh;
	background-color: #4E4E4E;
}

#homeContainer{
	background-image: url('background.jpg');
	background-size:cover;
}

#header{
	height:126px;
	background-color: #99ccff;
	border-style:solid;
	width: 100vw;
	text-align: center;
}

#inlog{
	height:250px;
	margin-top: 50px;
	background-color: #CA278C;
	border-style:solid;
	padding-left: 10%;
	padding-top: 10px;
}

#boxArea{
	min-height:300px;
	border-style:solid;
	background-color: white;
}

#arrowArea{
	height:100vh;
	text-align: center;
}


#hoverBox{
	color: white;
}


#arrowAreaButton{
	margin-top:150px;
}

#button{
	margin-top: 20px;
	
}
#buttonArea{
	margin-bottom: 20px;
}

